* {
    border: none;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

.output {
    justify-content: center;
    border-radius: 5px;
    margin: 0% auto;
    width: 25%;
    padding: 10px;
    background-color: #ccc;
    text-align: justify;
}

#outputh2 {
    display: none;
}

.output div {
    padding: 5px 10px;
}

body form {
    border-radius: 5px;
    margin: 0% auto;
    width: 30%;
    padding: 10px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#btn {
    padding: 10px;
    width: 40%;
    background-color: orangered;
    border: none;
    border-radius: 10px;
    color: white;
}

body form input {
    width: 80%;
    padding: 8px;
}

@media (max-width:800px) {
    .output,
    body form {
        width: 90%;
    }
    #btn {
        width: 50%;
    }
    body form input {
        width: 90%;
    }
}
