body {
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#theme {
    padding: 10px;
    background-color: rgb(47, 112, 243);
    color: white;
    border-radius: 10px;
    border: none;
    width: 10%;
    border: 1px solid white;
}

@media (max-width:800px) {
    #theme {
        width: 50%;
    }
}